<html>

<head>
    <title>Exploring {{ system.name }}</title>
</head>
<body>
    <h1>{{ system.name }}</h1>

    <h2>Boards</h2>
    <ul>
        {% for brd in system.boards %}
        <li>
            <a href="{{ brd.identifier|lower|urlencode }}.html">{{ brd.identifier }}</a>
        </li>
        {% endfor %}
    </ul>

    {% if extra|length != 0 %}
    <h2>Other reports</h2>
    <ul>
        {% for x in extra %}
        <li>
            <a href="connectivity-{{ x.id }}.html">{{ x.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
