<html>

<head>
    <title>Exploring {{ board.refdes }} - {{ board.name }}</title>
</head>
<body>

    <h1 id="brd-{{ board.refdes|lower|urlencode }}">{{ board.refdes }}</h1>
    <p>{{ board.name }}</p>
    <p>Part of system: <a href="index.html">{{ board.parent.name }}</a></p>
    <h2 id="brd-{{ board.refdes|lower|urlencode }}-coms">Components</h2>
    <ul>
        {% for com in board.components %}

        <li id="brd-{{ board.refdes|lower|urlencode }}-com-{{ com.refdes|lower|urlencode }}">
            <p>{{ com.refdes }}</p>
            <table>
                <thead>
                    <tr><td>Pin name</td><td>Signal</td></tr>
                </thead>
                <tbody>
                    {% for key in com._outer_pins %}
                    {% set pin = com._outer_pins[key] %}
                    <tr id="brd-{{ board.refdes|lower|urlencode }}-com-{{ com.refdes|lower|urlencode }}-pin-{{ pin.name|lower|urlencode }}">
                        <td>{{ pin.name }}</a></td>
                        <td>
                            <a href="#brd-{{ board.refdes|lower|urlencode }}-sig-{{ pin.signal.name|lower|urlencode }}">{{ pin.signal.name }}</a>
                            {% if pin.interfaces|length != 0 %}
                            and
                            {% for iface in pin.interfaces %}
                            {% set idx = iface._pins.index(pin) %}
                            <a href="#brd-{{ board.refdes|lower|urlencode }}-itf-{{ iface.name|lower|urlencode }}-idx-{{ idx }}">{{ iface.name }}.{{ idx }}</a>
                            {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Package: {{ com.package }}</a></p>
        </li>
        {% endfor %}
    </ul>

    <h2 id="brd-{{ board.refdes|lower|urlencode }}-sigs">Signals</h2>

    {% if board.signals|length == 0%}
    None
    {% else %}
    <ul>
        {% for sig in board.signals %}

        <li id="brd-{{ board.refdes|lower|urlencode }}-sig-{{ sig.name|lower|urlencode }}">
            <p>{{ sig.name }}</p>
            <p>
                <p>Connects these pins: 
                {% for pin in sig._pins %}
                    <a href="#brd-{{ board.refdes|lower|urlencode }}-com-{{ pin.parent.refdes|lower|urlencode }}-pin-{{ pin.name|lower|urlencode }}">{{ pin.parent.refdes}}.{{ pin.name }}</a>
                    {% if not loop.last %}, {% endif %}
                {% endfor %}
                </p>

                {% for signal in sigmap.resolved_net(sig).signals %}
                {% if loop.first %}
                <p>
                Also electrically connected to:
                {% endif %}
                    <a href="{{ signal.parent.refdes|lower|urlencode }}.html#brd-{{ signal.parent.refdes|lower|urlencode }}-sig-{{ signal.name|lower|urlencode }}">
                        {% if signal.parent != board %}{{signal.parent.refdes }}.{% endif %}{{ signal.name }}
                    </a>
                    {% if not loop.last %}, {% endif %}
                {% if loop.last %}
                </p>
                {% endif %}
                {% endfor %}
            </p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2 id="brd-{{ board.refdes|lower|urlencode }}-itfs">Interfaces</h2>
    {% if board.interfaces|length == 0%}
    None
    {% else %}
    <ul>
        {% for itf in board.interfaces %}

        <li id="brd-{{ board.refdes|lower|urlencode }}-itf-{{ itf.name|lower|urlencode }}">
            <p>{{ itf.name }}</p>
            <p>Connected to:
                {% if itf.other == None %}
                    nothing
                {% else %}
                    <a href="{{ itf.other.parent.refdes}}.html#brd-{{ itf.other.parent.refdes|lower|urlencode }}-itf-{{ itf.other.name|lower|urlencode }}">
                        {% if brd != itf.other.parent %}{{ itf.other.parent.refdes }}.{% endif %}{{ itf.other.name }}
                    </a>
                {% endif %}
            </p>
            <table>
                <thead>
                    <tr><th>This signal</th><th>This pin</th><th>Index</th><th>Other pin</th><th>Other signal</th></tr>
                </thead>
                <tbody>
                    {% for pin in itf._pins %}
                    <tr id="brd-{{ board.refdes|lower|urlencode }}-itf-{{ itf.name|lower|urlencode }}-idx-{{ loop.index0 }}">
                        <td><a href="#brd-{{ board.refdes|lower|urlencode }}-sig-{{ pin.signal.name|lower|urlencode }}">
                            {{ pin.signal.name }}
                        </a></td>
                        <td><a href="#brd-{{ board.refdes|lower|urlencode }}-com-{{ pin.parent.refdes|lower|urlencode }}-pin-{{ pin.name|lower|urlencode }}">
                            {{ pin.parent.refdes }}.{{ pin.name }}
                        </a></td>
                        {% if itf.other == None %}
                        <td>{{ loop.index0 }}</td><td colspan=2>nada</td>
                        {% else %}
                        <td><a href="{{ itf.other.parent.refdes|lower|urlencode }}.html#brd-{{ itf.other._pins[loop.index0].parent.parent.refdes|lower|urlencode }}-itf-{{ itf.other.name|lower|urlencode }}-idx-{{ loop.index0 }}">
                            {{ loop.index0 }}
                        </a></td>
                        <td><a href="{{ itf.other.parent.refdes|lower|urlencode }}.html#brd-{{ itf.other._pins[loop.index0].parent.parent.refdes|lower|urlencode }}-com-{{ itf.other._pins[loop.index0].parent.refdes|lower|urlencode }}-pin-{{ itf.other._pins[loop.index0].name|lower|urlencode }}">
                            {% if itf.other._pins[loop.index0].parent.parent != board %}{{ itf.other._pins[loop.index0].parent.parent.refdes }}{% endif %}
                            {{ itf.other._pins[loop.index0].parent.refdes }}.{{ itf.other._pins[loop.index0].name }}
                        </a></td>
                        <td><a href="{{ itf.other.parent.refdes|lower|urlencode }}.html#brd-{{ itf.other._pins[loop.index0].parent.parent.refdes|lower|urlencode }}-sig-{{ itf.other._pins[loop.index0].signal.name|lower|urlencode }}">
                            {{ itf.other._pins[loop.index0].signal.name }}
                        </a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    
</body>
</html>
