<html>

<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>Part of system: <a href="index.html">{{ system.name }}</a></p>

    <pre>
    SELECT ALL NETS
            STARTING FROM
{%- if starting.wires is defined %} BOARD <input type="text" readonly value="{{ starting.identifier }}" />
                        {%- else %} COMPONENT <input type="text" readonly value="{{ starting.parent.identifier }}.{{ starting.refdes }}" />
{%- endif %}
            SHOWING CONNECTIONS
{%- for dest in to %}
{% if loop.first %}            {% else %}       THEN {% endif -%}
    TO
    {%- if dest.wires is defined %} BOARD <input type="text" readonly value="{{ dest.identifier }}" />
                        {%- else %} COMPONENT <input type="text" readonly value="{{ dest.parent.identifier }}.{{ dest.refdes }}" />
    {%- endif -%}
{%- endfor -%}</pre>

    {% set nodes = [starting] + to %}
    <table border="1">
    <thead>
        <tr>
        {% for dest in nodes %}
            <th>
                {% if dest.wires is defined %}<a href="{{ dest.identifier|lower|urlencode }}.html">{{ dest.identifier }}</a>
                {% else %}                    <a href="{{ dest.parent.identifier|lower|urlencode }}.html#com-{{ dest.refdes|lower|urlencode }}">{{ dest.parent.identifier }}.{{ dest.refdes }}
                {% endif %}
            </th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% if starting.wires is defined %}
        {% set wires = starting.wires %}
    {% else %}
        {% set wires = [] %}
        {% for pin in starting._pins.values() %}
            {{ wires.append(pin.wire) or '' }}
        {% endfor %}
    {% endif %}
    {% set writtenNets = [] %}
    
    {% for sig in wires %}
    {% set net = netlist.resolved_net(sig) %}
    {% if net not in writtenNets %}
        {{ writtenNets.append(net) or '' }}
        <tr id="net-{{ net.net_number }}">
            {% for node in nodes %}
            <td>
            <p>
                {% if node.wires is defined %}{# We are tracing wires to a board #}
                    {% for wire in net._wires if node == wire.parent %}
                    {% if not loop.first %}<br>{% endif %}
                    <a href="{{ wire.parent.identifier|lower|urlencode }}.html#wire-{{ wire.name|lower|urlencode }}">
                        {{ wire.name }}
                        ({{ wire._pins|length}} pins)
                    </a>
                    {% endfor %}
                {% else %}{# We are tracing wires to a component #}
                {% for wire in net._wires if node.parent == wire.parent %}
                    {% for pin in wire._pins if pin.parent == node %}
                        {% if not loop.first %}<br>{% endif %}
                        <a href="{{ wire.parent.identifier|lower|urlencode }}.html#com-{{ pin.parent.refdes|lower|urlencode }}-pin-{{ pin.name|lower|urlencode }}">
                            {{ pin.parent.refdes }}.{{ pin.number }}:{{ pin.name }}
                        </a>
                    {% endfor %}
                {% endfor %}
                {% endif %}

            </p>
            </td>
            {% endfor %}
        </tr>
    {% endif %}
    {% endfor %}
    
    </tbody>
    </table>

</body>
</html>

