<html>

<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>Part of system: <a href="index.html">{{ system.name }}</a></p>

    <pre>
    SELECT ALL NETS
            STARTING FROM
{%- if   starting.__class__.__name__ == 'Board'     %} BOARD <input type="text" readonly value="{{ starting.identifier }}" />
{%- elif starting.__class__.__name__ == 'Component' %} COMPONENT <input type="text" readonly value="{{ starting.parent.identifier }}.{{ starting.refdes }}" />
{%- elif starting.__class__.__name__ == 'Rtl'       %} RTL <input type="text" readonly value="{{ starting.name }}" />
{%- endif %}
            SHOWING CONNECTIONS
{%- for dest in to %}
{% if loop.first %}            {% else %}       THEN {% endif -%}
    TO
{%- if   dest.__class__.__name__ == 'Board'     %} BOARD     <input type="text" readonly value="{{ dest.identifier }}" />
{%- elif dest.__class__.__name__ == 'Component' %} COMPONENT <input type="text" readonly value="{{ dest.parent.identifier }}.{{ dest.refdes }}" />
{%- elif dest.__class__.__name__ == 'Rtl'       %} RTL       <input type="text" readonly value="{{ dest.name }}" />
{%- endif -%}
{%- endfor -%}</pre>

    {% set nodes = [starting] + to %}
    <table border="1">
    <thead>
        <tr>
        {% for dest in nodes %}
            <th>
{%- if   dest.__class__.__name__ == 'Board'     %} <a href="{{ dest.identifier|lower|urlencode }}.html">{{ dest.identifier }}</a>
{%- elif dest.__class__.__name__ == 'Component' %} <a href="{{ dest.parent.identifier|lower|urlencode }}.html#com-{{ dest.refdes|lower|urlencode }}">{{ dest.parent.identifier }}.{{ dest.refdes }}
{%- elif dest.__class__.__name__ == 'Rtl'       %} <a href="{{ dest.name|lower|urlencode }}.html">{{ dest.name }}</a>
{% endif %}
            </th>
        {% endfor %}
        </tr>
    </thead>
    <tbody>
    {%- if starting.__class__.__name__ == 'Board' %}
        {% set starting_wires_or_signals = starting.wires %}
    {%- elif starting.__class__.__name__ == 'Component' %}
        {% set starting_wires_or_signals = [] %}
        {% for pin in starting._outer_pins.values() %}
            {{ starting_wires_or_signals.append(pin.wire) or '' }}
        {% endfor %}
    {%- elif starting.__class__.__name__ == 'Rtl' %}
        {% set starting_wires_or_signals = [] %}
        {% for sig in starting.signals %}
            {{ starting_wires_or_signals.append(sig) or '' }}
        {% endfor %}
    {% endif %}
    {% set writtenNets = [] %}
    
    {% for wire_or_signal in starting_wires_or_signals %}
    {% set net = netlist.get_net_corresponding_to_wire_or_signal(wire_or_signal) %}
    {% if net not in writtenNets %}
        {{ writtenNets.append(net) or '' }}
        <tr id="net-{{ net.net_number }}">
            {% for node in nodes %}
            <td>
            <p>
                {% if node.__class__.__name__ == 'Board' %}
                    {% for ws in net._things if ws.__class__.__name__ == 'Wire' and node == ws.parent %}
                    {% if not loop.first %}<br>{% endif %}
                    <a href="{{ ws.parent.identifier|lower|urlencode }}.html#wire-{{ ws.name|lower|urlencode }}">
                        {{ ws.name }}
                        ({{ ws._pins|length}} pins)
                    </a>
                    {% endfor %}
                {% elif node.__class__.__name__ == 'Component' %}
                    {% for ws in net._things if ws.__class__.__name__ == 'Wire' and node.parent == ws.parent %}
                    {% for pin in ws._pins if pin.parent == node %}
                        {% if not loop.first %}<br>{% endif %}
                        <a href="{{ ws.parent.identifier|lower|urlencode }}.html#com-{{ pin.parent.refdes|lower|urlencode }}-pin-{{ pin.name|lower|urlencode }}">
                            {{ pin.parent.refdes }}.{{ pin.number }}
                        </a>
                    {% endfor %}
                    {% endfor %}
                {% elif node.__class__.__name__ == 'Rtl' %}
                    {% for ws in net._things if ws.__class__.__name__ == 'Signal' and node == ws.parent %}
                        {% if not loop.first %}<br>{% endif %}
                        <a href="{{ ws.parent.name|lower|urlencode }}.html#sig-{{ ws.name|lower|urlencode }}">
                            {{ ws.name }}
                        </a>
                    {% endfor %}
                {% endif %}

            </p>
            </td>
            {% endfor %}
        </tr>
    {% endif %}
    {% endfor %}
    
    </tbody>
    </table>

</body>
</html>

