<html>

<head>
    <title>Exploring {{ board.identifier }} - {{ board.name }}</title>
</head>
<body>

    <h1>{{ board.identifier }}</h1>
    <p>{{ board.name }}</p>
    <p>Part of system: <a href="index.html">{{ board.parent.name }}</a></p>

    <h2>Table of contents</h2>
    <ul>
        <li><a href="#pcbs">PCB summary</a></li>
        <li><a href="#nets">Netlist view</a></li>
        <li><a href="#coms">Components ({{ board.components|length }})</a></li>
        <li><a href="#wirs">Wires ({{ board.wires|length }})</a></li>
        <li><a href="#itfs">Interfaces ({{ board.interfaces|length }})</a></li>
    </ul>

    <h2 id="pcbs">PCB summary</h2>
    <p>Components:</p>
    <ul>
        {% for com in board.components if com.type == 1 or (com.type == 3 and com._pins|length >= 60) %}
        <li>
            <a href="#com-{{ com.refdes|lower|urlencode }}">
                {% if com.type == 1 %}Connector
                {% elif com.type == 2 %}Discrete
                {% elif com.type == 3 %}Chip
                {% endif %}
                {{ com.refdes }}
            </a>
        </li>
        {% endfor %}
        
    </ul>
    {% if board.interfaces|length != 0 %}
    <p>Interfaces:</p>
    <ul>
        {% for itf in board.interfaces %}
        <li>
            <a href="{{ board.identifier|lower|urlencode }}.html#itf-{{ itf.name|lower|urlencode }}">{{ itf.name }}</a>
            {% if itf.other != None %}
            (connected to
            <a href="{{ itf.other.parent.identifier|lower|urlencode }}.html#itf-{{ itf.other.name|lower|urlencode }}">{% if itf.other.parent != board %}{{ itf.other.parent.identifier }}.{% endif %}{{ itf.other.name }}</a>)
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2 id="nets">Netlist view</h2>
    <p>Netlist view from {{ board.identifier }}'s POV.</p>
    {% set boards = [board] %}
    {% set writtenNets = [] %}
    <table border="1">
        <thead>
            <tr>
                <th>{{ board.identifier }}</th>
            {% for brd in board.parent.boards if board != brd %}
                {{ boards.append(brd) or '' }}
                <th><a href="{{ brd.identifier|lower|urlencode }}.html">{{ brd.identifier }}</a></th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for sig in board.wires %}
        {% set net = netlist.resolved_net(sig) %}
        {% if net not in writtenNets %}
        {{ writtenNets.append(net) or '' }}
        <tr id="net-{{ net.net_number }}">
            {% for brd in boards %}
            <td>
            <p>
                {% for wire in net._wires if brd == wire.parent %}
                {% if not loop.first %}<br>{% endif %}
                <a href="{{ wire.parent.identifier|lower|urlencode }}.html#wire-{{ wire.name|lower|urlencode }}">
                    {{ wire.name }}
                </a>
                {% endfor %}
            </p>
            </td>
            {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <h2 id="coms">Components</h2>
    <p>{{ board.components|length }} components</p>
    <ul>
        {% for com in board.components %}

        <li id="com-{{ com.refdes|lower|urlencode }}">
            <p>{{ com.refdes }}</p>
            <p>
                Component type:
                {% if com.type == 0 %}Default
                {% elif com.type == 1 %}Connector
                {% elif com.type == 2 %}Discrete
                {% elif com.type == 3 %}Chip
                {% else %}Unknown
                {% endif %}
            </p>
            <table border="1">
                <thead>
                    <tr><td>Pin number</td><td>Pin name</td><td>Wire</td><td>Part of interface</td></tr>
                </thead>
                <tbody>
                    {% for key, pin in com._pins.items() %}
                    <tr id="com-{{ com.refdes|lower|urlencode }}-pin-{{ pin.name|lower|urlencode }}">
                        <td>{{ com.refdes }}.{{ pin.number }}</td>
                        <td>{{ pin.name }}</td>
                        <td>
                            <a href="#wire-{{ pin.wire.name|lower|urlencode }}">{{ pin.wire.name }}</a>
                        </td>
                        {% if pin.interfaces|length != 0 %}
                        <td>
                            {% for iface in pin.interfaces %}
                            {% set idx = iface._pins.index(pin) %}
                            <a href="#itf-{{ iface.name|lower|urlencode }}-idx-{{ idx }}">{{ iface.name }}.{{ idx }}</a>
                            {% endfor %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Value: {{ com.value }}</a></p>
            <p>Schematic symbol: {{ com.symbol }}</a></p>
            <p>Pcb package: {{ com.package }}</a></p>
            <p>Signal model: {{ com.model }}</p>
            <p>Ignore model: {{ com.ignore_model }}</p>
        </li>
        {% endfor %}
    </ul>

    <h2 id="wirs">Wires</h2>
    <p>{{ board.wires|length }} wires</p>

    {% if board.wires|length == 0%}
    None
    {% else %}
    <ul>
        {% for sig in board.wires %}

        <li id="wire-{{ sig.name|lower|urlencode }}">
            <p>{{ sig.name }} <a href="#net-{{ netlist.resolved_net(sig).net_number }}">(Reveal in netlist view)</a></p>
            <p>
                Wire type:
                {% if sig.type == 0 %}Default
                {% elif sig.type == 1 %}DC
                {% elif sig.type == 2 %}NC
                {% else %}Unknown
                {% endif %}
            </p>
            <p>
                Connects these pins: 
                {% for pin in sig._pins %}
                    <a href="#com-{{ pin.parent.refdes|lower|urlencode }}-pin-{{ pin.name|lower|urlencode }}">{{ pin.parent.refdes }}.{{ pin.number }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h2 id="itfs">Interfaces</h2>
    <p>{{ board.interfaces|length }} interfaces</p>
    {% if board.interfaces|length == 0%}
    None
    {% else %}
    <ul>
        {% for itf in board.interfaces %}

        <li id="itf-{{ itf.name|lower|urlencode }}">
            <p>{{ itf.name }}</p>
            <p>Connected to:
                {% if itf.other == None %}
                    nothing
                {% else %}
                    <a href="{{ itf.other.parent.identifier}}.html#itf-{{ itf.other.name|lower|urlencode }}">
                        {% if brd != itf.other.parent %}{{ itf.other.parent.identifier }}.{% endif %}{{ itf.other.name }}
                    </a>
                {% endif %}
            </p>
            <table border="1">
                <thead>
                    <tr><th>This wire</th><th>This pin</th><th>Index</th><th>Other pin</th><th>Other wire</th></tr>
                </thead>
                <tbody>
                    {% for pin in itf._pins %}
                    <tr id="itf-{{ itf.name|lower|urlencode }}-idx-{{ loop.index0 }}">
                        <td><a href="#wire-{{ pin.wire.name|lower|urlencode }}">
                            {{ pin.wire.name }}
                        </a></td>
                        <td><a href="#com-{{ pin.parent.refdes|lower|urlencode }}-pin-{{ pin.name|lower|urlencode }}">
                            {{ pin.parent.refdes }}.{{ pin.name }}
                        </a></td>
                        {% if itf.other == None %}
                        <td>{{ loop.index0 }}</td><td colspan=2>nada</td>
                        {% else %}
                        <td><a href="{{ itf.other.parent.identifier|lower|urlencode }}.html#itf-{{ itf.other.name|lower|urlencode }}-idx-{{ loop.index0 }}">
                            {{ loop.index0 }}
                        </a></td>
                        <td><a href="{{ itf.other.parent.identifier|lower|urlencode }}.html#com-{{ itf.other._pins[loop.index0].parent.refdes|lower|urlencode }}-pin-{{ itf.other._pins[loop.index0].name|lower|urlencode }}">
                            {{ itf.other._pins[loop.index0].parent.refdes }}.{{ itf.other._pins[loop.index0].name }}
                        </a></td>
                        <td><a href="{{ itf.other.parent.identifier|lower|urlencode }}.html#wire-{{ itf.other._pins[loop.index0].wire.name|lower|urlencode }}">
                            {{ itf.other._pins[loop.index0].wire.name }}
                        </a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    
</body>
</html>
